.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .whiteBox {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px; /* Specify a width for the white box */
  }
  
  .whiteBox h2 {
    text-align: center;
  }
  
  .formGroup {
    margin-bottom: 10px;
  }
  
  .formGroup label {
    display: block;
  }
  
  .formGroup input {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .whiteBox form button {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .whiteBox form button:hover {
    background-color: #0056b3;
  }
  